@media screen and (min-width: 950px){
    .navbar{
        width: 100%;
        height: 8%;
        top: -1px;
        border-bottom: 1px solid rgba(127, 73, 213, 0.822);
        align-items: center;
    }

    .navbar-links{
        position: absolute;
        right: 220px;
        gap: 8%;
    }
    
    .top-navbar-links{
        white-space: nowrap;
        cursor: pointer;
        color: black;
        text-decoration: none;
    }  

    .navbar-menu-list a{
        display: none;
    }

    .navbar-name{
        margin-left: 10%;
    }

    .dark-mode-icon{
        position: relative;
        top: 2px;
    }

    .navbar-menu{
        display: none;
    }
}

@media screen and (max-width: 950px) {

    .navbar{
        height: 6%;
        width: 100%;
        top: 93%;
        align-items: center;
        border-top: 1px solid black;
        /* overflow-anchor: none; */
    }
    
    .navbar-name{
        margin-left: 10%;
    }

    .navbar-links{
        width: 15%;
        position: absolute;
        right: 20px;
        gap: 45%;
    }
    
    .dark-mode-icon{
        position: relative;
        top: 12px;
    }

    .navbar-menu{
        position: relative;
        top: 5px;
    } 

    .top-navbar-links{
        display: none;
    }

    .navbar-menu-list{
        background-color: white;
        width: 99%;
        height: 250%;
        bottom: -250%;
        position: absolute;
        left: 2px;  
        grid-template-columns: repeat(3, 33.2%);
        grid-template-rows: repeat(2, 50%);
        transition: bottom 1s ease;
    }

    .hide-navbar-menu-list{
        display: none;
    }

    .show-navbar-menu-list{
        display: grid;
    }

    .navbar-menu-list a{
        width: 100%;
        font-size: 20px;
        border: 1px solid rgb(67, 67, 67);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .navbar-menu-list a{
        color: black;
        text-decoration: none;
    }

    .menu-navbar-icon{
        font-size: 250%;
        color: black;
        margin-top: 4px;
    }
}

.navbar{
    position: sticky;
    background-color: white;
    padding-top: 2%;
    display: flex;
    z-index: 2;
  }
  
.navbar-links{
    display: flex;
}
  
.dark-mode-icon{
    cursor: pointer;
}

.navbar-menu{
    font-size: 25px;
    margin-top: 1.5px;
}